

<div id="scroller">
    @for (int i = 0; i < 10000; i++)
    {
        <div>@DateTime.Now.AddSeconds(i).Ticks</div>
    }
</div>

@code 
{
    protected override void OnInitialized()
    {
        base.OnInitialized();
        Start();
    }

    private async void Start()
    {
        while (true)
        {
            await Task.Delay(100);
            await InvokeAsync(StateHasChanged);
        }
    }
}